<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382127885355-fkl1gdh41d501l3l1nj9cmcruvp59udu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382127885355-fkl1gdh41d501l3l1nj9cmcruvp59udu</string>
	<key>API_KEY</key>
	<string>AIzaSyDsJ8W1od_8IExImKFT3TJgfy_EBHMaEuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>382127885355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engg4930b.inAppLocalisation</string>
	<key>PROJECT_ID</key>
	<string>dr-level-up</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-level-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382127885355:ios:4916687ecd5d440c</string>
	<key>DATABASE_URL</key>
	<string>https://dr-level-up.firebaseio.com</string>
</dict>
</plist>